
.date{
    text-align:inherit;
    padding: 3px;
    background-color: #fff;
    max-width: fit-content;
}

.timecardheading{
    text-align: start;
    margin: 2px;
    padding: 2px;
}
.Timecard{
    /* max-width: 500px; */
    text-align: inherit;
    margin: auto 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
    padding: 10px 8px;
    border-radius: 5px;
    max-width: 100%;
    
}
.Timecards{
    max-width: 500px;
    background-color: black;
}
.timecarddetail{
    text-align: start;
    margin: 2px;
    padding: 2px;
}
.activityimage{
    max-height: 600px;
    padding: auto 80px;
}
.timelinebtn{
    padding: 6px 20px !important ;
    margin-top: 5%  !important;   
    margin-bottom: 0% !important;
}
.textx h1{
    text-decoration-line: underline;
    text-decoration-color: #0440a1;
    font-family: 'Rubik', sans-serif;
    margin: 20px auto;
    color: #000000;
   text-align: center;

    font-weight: bolder;
    padding-top: 2%;
    margin-bottom: 5%;
}